{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Your space</h2>

        {{ form_start(avatarForm) }}
        {{ form_row(avatarForm.avatar_img, {'attr': {'placeholder': "Pick a file"}}) }}

        <button type="submit" class="btn btn-success">Upload</button>
        {{ form_end(avatarForm) }}
    </div>
{% endblock %}